@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.navbar {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;
  background-color: #072227;
  z-index: 3;
}

.navbar h1 {
  margin-left: 2rem;
  color: #fc9918;
  align-self: flex-start;
}
.navbar a,
button {
  font-family: "Ubuntu", sans-serif;

  border-radius: 10px;
  padding: 0.4rem 1rem;
  margin: 0.5rem;
  margin-right: 4rem;
  background-color: #35589a;
  color: #fc9918;
  text-decoration: none;
  font-weight: 700;
  border-style: none;
  justify-self: flex-end;
}
